@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Salsa&display=swap');

.form {
  height: 93vh;
  width: 50vw;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0px 5px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(50.5px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 24px;
}

.con {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 3vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

/* Add padding to containers */
.container {
  padding: 16px;
  /* background-color: white; */
  margin-top: 4vh;
  margin-top: 2vh;
  /* text-align: center; */
  display: grid;
  justify-content: center;
  text-align: justify;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  /* padding: 15px; */
  /* margin: 5px 0 22px 0; */
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
  text-align: center;

}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #00a2ff;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 15px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

h1{
  color: whitesmoke;
}
label{
  color: whitesmoke;
  font-family: Cookie;
  font-size: medium;
}

/* responsive css */

/* @media screen (max-width:800px){


} */
  

