@media screen and (max-width:845px) 


{
    body{
        background-color: rgb(255, 255, 255);
    }
    nav{
        flex-direction: column;
    }

    .flipkart{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 12px 16px;
    }

    nav ul{
        height: 12px;
    }

    .login{
        display: flex;
    }
}
